$primary-color: #374785;
$primary-color-light: #a8d0e6;
$primary-color-dark: #24305e;

$red-color-light: #f76c6c;
$secondary-color: #f8e9a1;

$third-color: #b0f8a1;
$third-color-light: #dbf8a1;
$white-color: #fff;
